* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

ul, ol {
    list-style: none;
}

.headerIndex {
    height: 100px;
    width: 100%;
    background-color: rgb(4, 250, 197);
}

.headerNavigation {
    padding-top: 78px;
    display: flex;
    justify-content: center;
}

.navigation > li {
    float: left;
}

.navigation li a {
    text-decoration-color: rgb(250, 248, 248);
    color: white;
    background-color: rgb(250, 135, 4);
    text-decoration: none;
    padding-top: 10px;
    display: block;
    width: 140px;
    text-align: center;
}

.navigation li a:hover {
    background-color: rgb(248, 192, 129);
}

.navigation li ul {
    display: none;
    position: absolute;
    min-width: 140px;
}

.navigation li:hover > ul {
    display: block;
}

.navigation li ul li {
    position: relative;
}

.navigation li ul li ul{
    right: -140px;
    top:  0px;
}


.espacioImg{
    align-items: center;
    display: flex;
    margin-top: 20px;
}

.pictureText {
    padding: 20px 5% 20px 5%;
}